.bet{
    justify-content: space-around;
}
.images{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 10px 10px 5px lightblue;
  }

  tr{
    box-shadow: 10px 10px 5px lightblue;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    box-shadow: 10px 10px 5px lightblue;
  }


tr img{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50px;
}

.submit{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

}
.border{
  border: none;
  background-color: lightblue;
  margin-right: 10px;
}
.save:hover{
  background-color: blue;
  color: white;
}
.delete:hover{
  background-color: red;
  color:white;
}